@import "--var.scss";
@import "--mixing.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.5;
  user-select: none;
}
body {
  background-color: #dde2ff !important;
}

// nav
.logo_div {
  background: $c2;
  height: 83px;
  display: flex;
  img {
    @include bg_img;
    width: 8rem;
    height: 3rem;
    margin: auto;
  }
}
ul {
  padding: 0 !important;
}
.nav_mobile_search_main_div {
  margin-bottom: 1rem;
}
.nav_mobile_search_iner_div {
  position: relative;
  border-bottom: 1px solid $c2;
  span {
    position: absolute;
    top: 5px;
    left: 3px;
    font-size: 22px;
  }
  input {
    height: 3rem;
    padding-left: 29px;
    border-radius: 0 !important;
    border: 0;
  }
  .form-control:focus {
    border-color: unset !important;
    box-shadow: unset !important;
  }
}
// nav end
// top nav
.top_nav_man_input_div {
  width: 100%;
}
.top_nav_iner_div_input {
  position: relative;
  margin: 0 8rem;
  span {
    position: absolute;
    top: 29%;
    left: 3%;

    svg {
      font-size: 20px !important;
      color: #666 !important;
    }
  }
  input {
    height: 48px;
    border-radius: 8px;
    padding-left: 3.2rem;
  }
}
.messages_icon_top_nav {
  font-size: 25px;
  color: white;
}
.profile_img {
  @include bg_img;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}
.profile_img_div {
  border: 1.5px solid $cor;
  padding: 4px;
  border-radius: 100%;
}
.profile_img_top_div {
  padding: 0 40px;
  cursor: pointer;
}
.badge_top {
  font-size: 10px !important;
  padding: 5px !important;
}
.notification_img_div {
  border: 1.5px solid $cor;
  padding: 4px;
  border-radius: 100%;
  display: inline-block;
}
.notification_img {
  @include bg_img;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}
.notification_img_col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification_text {
  color: black;
  text-transform: capitalize;
  p {
    margin-bottom: 0;
  }
}
.notification_name {
  font-size: 15px;
  font-weight: 550;
}
.notification_mess {
  font-size: 16px;
}
.notification_time_div {
  p {
    color: $cgr;
    font-size: 10px;
    font-weight: 550;
  }
}
.notification_top_div {
  background-color: #dde2ff54;
  padding: 15px 10px;

  transition: all 0.3s ease-out;
  &:hover {
    background-color: #dde2ff;
    .notification_img_div {
      border: 1.5px solid $c2;
    }
  }
}
.user_profile_img_div {
  border: 1.5px solid $cor;
  border-radius: 100%;
  display: inline-block;
  padding: 2px;
}
.user_profile_img {
  @include bg_img;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}
.user_profile_imfo {
  position: relative;
  p {
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
}
.user_profile_name {
  font-size: 30px;
  font-weight: 300;
  color: $c2;
}
.user_profile_work {
  font-size: 12px;
  color: $text;
}
.user_profile_id {
  font-size: 12px;
  color: $text;
}
.user_profile_icon_div {
  position: absolute;
  right: 10%;
  bottom: 4%;
}
.user_profile_icon {
  color: $text !important;
  font-size: 20px !important;
}
.user_profile_top_card_div {
  padding: 1rem;
}
.user_profile_hr2 {
  margin-top: 0;
}
.user_profile_hr {
  hr {
    background-color: #d0d4ee;
    opacity: 1;
    margin: 0;
  }
}
.user_profile_page_link {
  text-align: start;
  padding-left: 7px;
}
.user_profile_page_link2 {
  text-align: end;
  padding-right: 7px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  .switch_input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: $green;
      &::before {
        transform: translateX(26px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -11px;
  bottom: 0;
  background-color: $red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.profile_switch_top {
  text-transform: capitalize;
  display: flex;
  text-align: center;
  p {
    margin-bottom: 0;
    margin-left: 1.5rem;
    font-size: 14px;
  }
}
.profile_switch_onlin_div {
  display: flex;
  text-align: center;
}
.profile_switch_main_div {
  background: white;
  padding: 1rem 1rem;
  margin: 10px;
  border-radius: 10px;
  @include sh;
}

.profile_switch_time_div {
  text-align: end;
  p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 550;
  }
}
.online {
  color: $green;
}
.offline {
  color: $text;
}
.online2 {
  color: $green;
}
.offline2 {
  color: $red;
}
.profile_dropdown_main_div {
  button {
    background: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin: 0;
    outline: none;
    border: none !important;
    border-radius: 0 !important;
    svg {
      font-size: 20px !important;
      margin-left: 5px !important;
      color: black !important;
    }
    &::after {
      display: none;
    }
    &:hover {
      background-color: transparent !important;
      border: none !important;
    }
    &:focus {
      box-shadow: none !important;
      background-color: transparent !important ;
    }
  }
}
.profile_dropdown_menu {
  background-color: #f4f4f4 !important;
  border: none !important;
  @include sh;
}
.user_breks_main_div {
  overflow: scroll;
  height: 10rem;
}
.offline3 {
  color: black;
  display: block;
  background: #f4f4f4;
  position: absolute;
  width: 100%;
  padding: 1rem;
  text-transform: capitalize;
  svg {
    color: #525252 !important;
    font-size: 22px !important;
  }
  p {
    margin-bottom: 0;
  }
}
.user_breks_row {
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 6px 0;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #eae2e2;
  }
  p {
    color: #525252;
    font-size: 15px;
  }
}
.online3 {
  display: none;
}

.user_input {
  label {
    font-size: 15px;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
}
.user_breks_menu {
  cursor: pointer;
  svg {
    color: black !important;
    font-size: 24px !important;
    padding-bottom: 5px;
  }
}
.user_input_main_div {
  margin-top: 1rem;
}
.profile_list_title_div {
  display: flex;
}
.profile_list_title_first_li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  div {
    height: 12px;
    width: 12px;
    border-radius: 100%;
  }
}
.profile_list_title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.profile_list_date_div {
  p {
    margin: 0;
    font-size: 12px;
    padding-top: 2px;
    font-family: IBM Plex sans;
    color: $text;
    padding-left: 5px;
  }
}
.profile_list_title_main_div {
  margin-bottom: 2px;
  ul {
    margin: 0;
  }
}
.profile_list_top_div {
  overflow: scroll;
  height: 5rem;
}
.logout_btn {
  background-color: $blue;
  color: white;
  outline: none;
  border: none;
  font-size: 15px;
  text-transform: capitalize;
  padding: 14px 40px;
  font-weight: 550;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    color: white;
    background-color: $hover;
  }
}
.notifications_btn {
  text-align: center;
  text-transform: capitalize;
  margin: 4px 0;
  a {
    font-size: 13px;
  }
}
.logout_btn_div {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
a {
  text-decoration: none !important;
}
.user_profile_bottom_link {
  padding-bottom: 1rem;
  transition: all 0.3s;
  a {
    color: $text;
    font-size: 12px;
  }
}
// top nav end
// all pages
.custom_container {
  padding: 1.3rem;
}
.page_top_title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  h3 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
  }
}
// all pages end
// Dashboard
.dashboard_top_user_name {
  h3 {
    font-family: IBM Plex Sans;
    font-size: 25px;
    span {
      font-family: IBM Plex Mono;
      font-size: 15px;
    }
  }
}
.dashboard_top_week_Select {
  text-transform: capitalize;

  .css-1s2u09g-control {
    border: none;
    border-bottom: 1px solid $red;
  }
  .css-1pahdxg-control {
    &:hover {
      border-color: $red;
    }
  }
}
.dashbaord_imfo_card {
  padding: 1.5rem 1rem;
  border-radius: 10px;
  text-transform: capitalize;
}
.dashbaord_imfo_card_text {
  h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
  }
  p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 550;
    margin-top: 5px;
  }
}
.dashbaord_imfo_card_icon_col_div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.dashbaord_imfo_card_icon_div {
  margin: auto;
  border-radius: 100%;
  padding: 13px;
}
.dashbaord_img {
  @include bg_img;
  width: 2rem;
  height: 2rem;
}
.dashbaord_white_card {
  background-color: white;
  padding: 1rem 20px;
  border-radius: 10px;
}
.dashbaord_white_card2 {
  height: 22.3rem;
}
.dashbaord_white_title {
  text-transform: capitalize;
  color: black;
  margin-bottom: 10px;
  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    span {
      font-weight: 300;
      font-size: 15px;
    }
  }
}
.celebrations_card_setting_icon_div {
  text-align: end;
  margin-right: 0rem;
  svg {
    color: #525252;
    font-size: 17px;
  }
}
.celebrations_card_line_title {
  margin-top: 1rem;
  p {
    margin-bottom: 0;
    color: #161616;
    text-transform: capitalize;
    font-size: 12px;
  }
  hr {
    margin: 6px 0;
    opacity: 1;
    background: #dde2ff;
  }
}
.celebrations_card_img {
  @include bg_img;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 100%;
}
.celebrations_card_user_info {
  text-transform: capitalize;
  h5 {
    color: #0a0e30;
    margin: 0;
    // font-weight: 550;
    margin-bottom: 5px;
    font-size: 16px;
  }
  p {
    margin-bottom: 0;
    font-size: 12px;
    color: $text;
  }
}
.celebrations_card_img_top_div {
  padding: 10px 0;
  position: relative;
  transition: all 0.3s;
}
.celebrations_card_img_icon {
  @include bg_img;
  height: 2rem;
  width: 2rem;
  margin: auto;
  margin-right: 8px;
}
.celebrations_card_icon_div {
  display: flex;
}
.celebrations_card_overflow_div {
  overflow: scroll;
  height: 18rem;
}
.holidays_card {
  text-transform: capitalize;
  margin-bottom: 23px;
  h5 {
    margin: 0;
    // font-weight: 550;
    margin-bottom: 5px;
    font-size: 16px;
  }
  p {
    margin-bottom: 0;
    font-size: 12px;
    color: $text;
    span {
      padding-left: 1rem;
    }
  }
}
.holidays_card_top_main_div {
  margin-top: 20px;
}
.reimbursement_top_title {
  display: flex;
  align-items: baseline;
  text-transform: capitalize;
  a {
    font-size: 13px;
    margin-left: 9px;
  }
}
.reimbursement_top_title_link_page {
  text-transform: capitalize;
  text-align: end;
  margin-top: 3px;
  a {
    font-size: 13px;
    margin-left: 9px;
  }
}
.reimbursement_card_right_icon {
  margin: auto;
  margin-right: 8px;
  cursor: pointer;
}
.approve {
  display: none;
  transition: all 0.3s;
}
.reject {
  color: black;
  display: block;
  background-color: #fff;
  transition: all 0.3s;
}
.reimbursement_card_options {
  text-transform: capitalize;
  position: absolute;
  background: white;
  color: white;
  z-index: 1;
  top: 0%;
  right: 0%;
  transition: all 0.3s;
  p {
    transition: all 0.3s;
    margin-bottom: 0;
    cursor: pointer;
    color: $red;
    padding: 6px 40px 6px 10px;
    font-size: 15px;
    &:hover {
      color: black;
      background-color: #f5ecec;
      padding: 6px 40px 6px 10px;
    }
  }
}
.dashboard_top_week_Select2 {
  text-transform: capitalize;

  .css-1s2u09g-control {
    border: none;
    border-bottom: 1px solid $red;
  }
  .css-1pahdxg-control {
    &:hover {
      border-color: $red;
    }
  }
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  .css-tlfecz-indicatorContainer {
    padding: 0;
  }
  .css-14el2xx-placeholder {
    font-size: 14px;
  }
}
.working_time_info_main_div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.working_time_info {
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  transition: all 0.3s;
  text-align: center;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  p {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 550;
    margin-bottom: 1rem;
  }
  .span1 {
    color: $green;
  }
  .span2 {
    color: $red;
  }
  .span3 {
    color: #525252;
  }
}
.dashbaord_calendar {
  border: none !important;

  .react-calendar__tile {
    padding: 6.6px 6.6667px;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 19.7px 0.5em;
  }
  abbr[data-bs-original-title],
  abbr[title] {
    text-decoration: none;
  }
  // .react-calendar__navigation__prev2-button {
  //   display: none;
  // }

  // .react-calendar__navigation__next2-button {
  //   display: none;
  // }
  .react-calendar__month-view__weekdays__weekday {
    font-weight: 400;
  }
}
// Dashboard end
