@import "--var.scss";
@import "--mixing.scss";
@media (max-width: 576px) {
  custom_container {
    padding: 10px;
  }
  .celebrations_card_user_info {
    text-align: center;
  }
  .profile_list_title {
    font-size: 12px;
  }
  .user_profile_name {
    font-size: 25px;
  }
  .dashboard_top_user_name {
    text-align: center;
    h3 {
      margin-bottom: 1rem;
      font-size: 20px;
      span {
        font-size: 13px;
      }
    }
  }
  .user_input {
    margin-bottom: 1rem;
  }
  .profile_img_top_div {
    padding: 0 25px;
  }
  .notification_time_div {
    text-align: center;
    p {
      font-size: 14px;
    }
  }
  .notification_mess {
    font-size: 13px;
  }
  .notification_top_div {
    background-color: #dde2ff;
  }
}
@media (min-width: 768px) {
  .dashbaord_imfo_card_text {
    h4 {
      font-size: 15px;
    }
  }
  .top_nav_iner_div_input {
    margin: 0 2rem;
  }
  .menu_container {
    height: 35rem;
  }
}
@media (min-width: 1024px) {
  .celebrations_card_user_info {
    p {
      font-size: 11px;
    }
  }
  .dashbaord_imfo_card_text {
    h4 {
      font-size: 11px;
    }
  }
  .top_nav_iner_div_input {
    margin: 0 3rem;
  }
  .menu_container {
    height: 40rem;
  }
}
@media (min-width: 1440px) {
  .celebrations_card_user_info {
    p {
      font-size: 12px;
    }
  }
  .dashbaord_imfo_card_text {
    h4 {
      font-size: 15px;
    }
  }
  .top_nav_iner_div_input {
    margin: 0 8rem;
  }
}
@media (min-width: 1700px) {
  .top_nav_iner_div_input {
    margin: 0 8rem;
    span {
      left: 1rem;
    }
  }
}
